<ul class="right hide-on-med-and-down nm-auto">
      <ng-container *ngIf="!usuariosService.verificarLogin(); else salir" >
        <form class="col s12" #userForm="ngForm" (ngSubmit)="iniciar(); userForm.reset()" >
          <div class="row">
            <div class="input-field col s5">
                <input id="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" type="email" style="color: white" class="validate" required >
                <label for="email">Email</label>
            </div>
            <div class="input-field col s3">
                <input id="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password" style="color: white" class="validate" required >
                <label for="password">Password</label>
            </div>
            <div class="col s4">
                            
                <button class="btn waves-effect indigo darken-4"  type="submit" name="action" >Iniciar Sesion</button>

            </div>
            
          </div>
          
        </form>
      </ng-container>
      </ul>
      <ng-template #salir>
        
      <ul class="right hide-on-med-and-down nm-auto">

            <li class="nav-item">
              
              <a class="btn-floating pulse indigo darken-4" id=mos href="/cargar"><i class="material-icons" >cloud_upload</i></a>
              
            </li>
    
            <li class="nav-item">

              <a onclick="M.toast({html: 'Nos vemos!'})" class="btn indigo darken-4" (click)="usuariosService.removerToken()">LogOut</a>
              
            </li>

        </ul>
        <a class="brand-logo center">{{"email"}}</a>
      </ng-template>
     
  
